<!DOCTYPE html>
<html lang="en">
<head> <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/general.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/HomePage.css">
</head>
<body>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Profile settings</a></li>
        <li class="divider"></li>
        <li><a href="../homePage.handlebars">Logout</a></li>
    </ul>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper z-depth-3">
                <a href="HomePage.html" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="hide-on-med-and-down">
                    <div class="leftSideNav">
                        <li><a class="link" href="3rdLevel.html">3e</a></li>
                        <li><a class="link" href="">4e</a></li>
                        <li><a class="link" href="">5e</a></li>
                        <li><a class="link" href="#">6e</a></li>
                    </div>

                    <li class="right"><a class="link" href="">About</a></li>
                    <li class="right"><a id="loginBtn" class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons left">account_circle</i>Username</a></li>
                </ul>
            </div>
        </nav>
    </div>
<section class="container">
    <header class="titleSection row s12 m12">
        <h3 class="title">Profile</h3>
        <div class="divider"></div>
    </header>

    <section class="section">
        <form id="signUpForm" class="col s12 m12" action="#">
            <div class="row">
                <div class="input-field col s12 m4">
                    <input placeholder="Username" id="usernameSignup" name="username" type="text" class="validate">
                    <label for="usernameSignup">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m4">
                    <input placeholder="First name" id="firstName" name="firstname" type="password" class="validate">
                    <label for="firstName">First name</label>
                </div>

                <div class="input-field col s12 m4">
                    <input placeholder="Surname" id="surname" name="surname" type="password" class="validate">
                    <label for="surname">Surname</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 m6">
                    <input placeholder="email@example.com" id="email" name="email" type="email" class="validate">
                    <label for="email">Your email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m4">
                    <input placeholder="Password" id="passwordSignup" name="password" type="password" class="validate">
                    <label for="passwordSignup">Password</label>
                </div>
            <!--</div>
            <div class="row">-->
                <div class="input-field col s12 m4">
                    <input placeholder="Password" id="passwordConfirm" name="confirmedPassword" type="password" class="validate">
                    <label for="passwordConfirm">Confirm you password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m4">
                    <input id="submitButtonSignup" type="submit" class="btn waves-effect waves-teal" value="Modify profile">
                </div>
            </div>
        </form>

    </section>
</section>



<script type="text/javascript" src="../../javascripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../../javascripts/materialize.min.js"></script>
<script type="text/javascript" src="../../javascripts/general.js"></script>
</body>
</html>