<header class="titleSection row s12 m12">
    <h3 class="title">About</h3>
    <div class="divider"></div>
</header>

<section class="section">
    <h5>Purpose of our web system</h5>
    <article>
        Our web system is supposed to help young french student to learn Math. It is also supposed to help a teacher making his lessons remotely available to its students. Thanks to this web system the teacher should be able to upload lessons and create exercises. Those will be made available to everyone wanting to learn a bit more about Math.
    </article>
    <h5>This site has been made with :</h5>
    <ul>
        <li><a href="https://materializecss.com/" target="_blank">Materialize</a></li>
        <li><a href="https://api.jquery.com/" target="_blank">JQuery</a></li>
        <li><a href="https://nodejs.org/en/" target="_blank">NodeJS</a></li>
        <li><a href="https://www.mongodb.com/" target="_blank">MongoDB</a></li>
        <li><a href="https://expressjs.com/" target="_blank">Express</a></li>
        <li><a href="https://handlebarsjs.com/" target="_blank">Handlebars</a></li>
        <li><a href="https://www.nginx.com/" target="_blank">Nginx</a></li>
        <li><a href="https://aws.amazon.com/" target="_blank">AWS EC2</a></li>
    </ul>
</section>

