{{#content 'links'}}
    <link rel="stylesheet" type="text/css" href="/stylesheets/Components/newItemList.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/Components/uploadingBox.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/addElement.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/Components/collapsible.css">
{{/content}}

<header class="titleSection row s12 m12">
    <h3 class="title">Add an element to the architecture</h3>
    <div class="divider"></div>
</header>

<section class="section hideElController">
    <div class="row"><span class="col s12">This element belongs to the level :</span></div>
    <div class="row">
        <div class="input-field col s12 m4">
            <select id="selectLevel">
                    <option value="Troisieme" {{#ifCond levelName "===" "Troisieme"}}selected{{/ifCond}}>Troisieme</option>
                    <option value="Quatrieme" {{#ifCond levelName "===" "Quatrieme"}}selected{{/ifCond}}>Quatrieme</option>
                    <option value="Cinquieme" {{#ifCond levelName "===" "Cinquieme"}}selected{{/ifCond}}>Cinquieme</option>
                    <option value="Sixieme" {{#ifCond levelName "===" "Sixieme"}}selected{{/ifCond}}>Sixieme</option>
            </select>
            <label for="selectLevel">Materialize Select</label>
        </div>
    </div>
</section>

<section class="section hideElController">
    <div class="row"><span class="col s12">What kind of element do you want to add ?</span></div>
    <div class="row">
        <div class="input-field col s12 m4">
            <select id="selectTypeElement">
                {{#ifCond itemType '===' 'exercise'}}
                    <option value="chapter">Chapter</option>
                    <option value="lesson" >Lesson</option>
                    <option value="exercise" selected>Exercise</option>
                {{else ifCond itemType '===' 'lesson'}}
                    <option value="chapter">Chapter</option>
                    <option value="lesson" selected>Lesson</option>
                    <option value="exercise">Exercise</option>
                {{else}}
                    <option value="chapter" selected>Chapter</option>
                    <option value="lesson">Lesson</option>
                    <option value="exercise">Exercise</option>
                {{/ifCond}}
            </select>
            <label for="selectTypeElement">Materialize Select</label>
        </div>
    </div>
</section>

<section class="feedbackSection">
    <ul class="feedBackList">

    </ul>
</section>

<section class="section addElementPart">
    {{> addElementForm}}
</section>


{{#content "scripts"}}
    <script type="text/javascript" src="/javascripts/uploadingBox.js"></script>
    <script type="text/javascript" src="/javascripts/AddElementPage.js"></script>
{{/content}}
