{{#content "links"}}
    <link rel="stylesheet" href="/stylesheets/connectionPage.css">
{{/content}}

<div class="expand-to-whole-page valign-wrapper center-align">
  <div id="loginContainer" class="row card">
      <!--buttons allows us to swap between the sign in and sign up-->
      <div id="changingLinks" class="row">
          {{# if isSigningUp}}
              <a id="loginLink" href="#" class="">Log in</a>
              <a id="signupLink" href="#" class="col offset-s2 offset-m2 offset-l2 activeLink">Sign up</a>
          {{else}}
              <a id="loginLink" href="#" class="activeLink">Log in</a>
              <a id="signupLink" href="#" class="col offset-s2 offset-m2 offset-l2">Sign up</a>
          {{/if}}
      </div>
        <!--sign in form send directly to the home page for now-->
      {{# if isSigningUp}}
        <form id="signInForm" class="col s12 l12 m12 hiddenSection" method="post" action="/signIn">
      {{else}}
        <form id="signInForm" class="col s12 l12 m12" method="post" action="/signIn">
      {{/if}}
          <div class="row">
              <div class="input-field col s12">
                  <input placeholder="email@example.com" id="usernameLogin" name="username" type="text" class="validate" autofocus>
                  <label for="usernameLogin">Username</label>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                  <input placeholder="Password" id="passwordLogin" name="password" type="password" class="validate">
                  <label for="passwordLogin">Password</label>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                      <i class="material-icons right">send</i>
                  </button>
              </div>
          </div>
      </form>

        <!--sign up form send directly to home page verifications needs to be done server side-->
      {{# if isSigningUp}}
      <form id="signUpForm" class="col s12 l12 m12" method="post" action="/signUp">
      {{else}}
      <form id="signUpForm" class="col s12 l12 m12 hiddenSection" method="post" action="/signUp">
      {{/if}}

        {{> formSignUp}}

      </form>
      <span class="errorLabel">{{this.message}}</span>
  </div>
</div>

{{#content "scripts"}}
    <script src="/javascripts/connectionPage.js"></script>
{{/content}}

