{{#content "links"}}
    <link rel="stylesheet" type="text/css" href="/stylesheets/Components/newItemList.css">
{{/content}}
    <header class="titleSection row s12 m12">
        <h3 class="title">Lessons and exercises updated recently</h3>
        <div class="divider"></div>
    </header>
    {{#if isAdmin}}
        <a class="waves-effect waves-light addingLink" href="/addChapter"><i class="material-icons left">add_circle_outline</i>Add ...</a>
    {{/if}}
    <section class="listNewContent section">
        <ul>
            <li class="row s12 m12"><a href=""><i class="material-icons left">chevron_right</i><span>6e - Lesson 5 - A Title for the lesson</span></a></li>
            <li class="row s12 m12"><a href=""><i class="material-icons left">chevron_right</i><span>6e - Lesson 5 - A Title for the lesson</span></a></li>
            <li class="row s12 m12"><a href=""><i class="material-icons left">chevron_right</i><span>6e - Lesson 5 - A Title for the lesson</span></a></li>
            <li class="row s12 m12"><a href=""><i class="material-icons left">chevron_right</i><span>6e - Lesson 5 - A Title for the lesson</span></a></li>
            <li class="row s12 m12"><a href=""><i class="material-icons left">chevron_right</i><span>6e - Lesson 5 - A Title for the lesson</span></a></li>
            <li class="row s12 m12"><a href=""><i class="material-icons left">chevron_right</i><span>6e - Lesson 5 - A Title for the lesson</span></a></li>
            <li class="row s12 m12"><a href=""><i class="material-icons left">chevron_right</i><span>6e - Lesson 5 - A Title for the lesson</span></a></li>
            <li class="row s12 m12"><a href=""><i class="material-icons left">chevron_right</i><span>6e - Lesson 5 - A Title for the lesson</span></a></li>
        </ul>

    </section>


{{#content "scripts"}}
    <script type="text/javascript" src="/javascripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
    <script type="text/javascript" src="/javascripts/general.js"></script>
{{/content}}

