<header class="titleSection row s12 m12">
    <h3 class="title">Profile</h3>
    <div class="divider"></div>
</header>

<section class="section">
    <form id="profileForm" class="col s12 m12">
        {{> formSignUp}}
    </form>
</section>

{{#content "scripts"}}
    <script src="/javascripts/profilePage.js"></script>
{{/content}}