.customValign {
    height: 80px;
}

.active .collapsible-header{
    background-color: #26a69a;
    color: white;
}

.selectionCollection {
    max-height: 200px;
    overflow: scroll;
}

.collection-item:hover {
    background-color: #bcbcbc;
    cursor: pointer;
}

.marginLeft {
    margin-left: 0.75rem;
}

h5 {
    margin-top: 0;
}